.picture {
    border-radius: 50%;
}

.nome, .descricao {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: dimgrey;
}

strong {
    color: rgb(2, 2, 2);

}

.html {
    font-size: 23px;
}

.unix {
    font-size: 22px;
}

.git {
    font-size: 21px;
}

.github {
    font-size: 20px;
}

.lideranca {
    font-size: 19px;
}