@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: #121212 !important;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6)
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1)
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.light {
  background-color: #2F4F4F !important;
  transition:  0.40s ease-in-out;
}

.dark {
  background-color: #121212 !important;
  transition: 0.40s ease-in-out;
}

.light_secondary {
  background-color: #243F3F !important;
  transition:  0.40s ease-in-out;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}
