.contact {
    padding: 60px 0 50px 0;
    overflow-x: hidden;
    position: relative;
}

.contact-form {
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    text-align: center;
}


.contact h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 8px 0;
    padding: 18px 30px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
}

.contact form .buttonSend {
    font-weight: 700;
    background-color: #fff;
    padding: 14px 28px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
    margin-left: 5px;
}


.contact form .buttonSend {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  .contact form .buttonSend span {
    z-index: 1;
    position: relative;
  }
  .contact form .buttonSend:hover {
    color: #fff;
  }
  .contact form .buttonSend::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
  .contact form .buttonSend:hover::before {
    width: 100%;
  }

.inputForm:active, .inputForm:focus {
    color: white !important;
    background-color:rgba(255, 255, 255, 0.1)!important;
}

.inputForm::placeholder {
  color: white !important;
}

.toastInfo {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

.toast-container {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}
