.project {
    padding: 40px 0 0 0;
    overflow-x: hidden;
    position: relative;
}

.project h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.project p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.project .buttonProject {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.visibleBtn {
    font-weight: 700;
    background-color: #fff;
    padding: 8px 26px;
    font-size: 16px;
    position: relative;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

.visibleBtn a {
    text-decoration: none;
    color: #000 !important;
    z-index: 1;
    position: relative;
}

.visibleBtn:hover a {
    color: #fff !important;
}

.visibleBtn::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.visibleBtnLight::before {
    background: #243F3F !important;
}

.visibleBtn:hover::before {
    width: 100%;
}

.project .nav.nav-pills {
    width: 72%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}

.project .nav.nav-pills .nav-item {
    width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
}


@media only screen and (max-width: 1024px) and (min-height: 768px) {

    .col-md-4 {
        width: 50%;
    }
    
    }

@media only screen and (max-width: 430px) {

    .project .nav.nav-pills {
        width: auto;
    }


    .col-md-4 {
    width: 100%;
}

}
