.skill {
  padding: 10vh 0 10vh 0;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.skill-content {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 60px;
  width: 100%;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.container_skills {
display: flex;
flex-direction: column;
gap: 20px;
}

.row_skills .col {
display: flex;
justify-content: center;
}

.row_skills.top .col:nth-child(1) .skills_table.left{
border-radius: 80px 0px 10px 0px;
}

.row_skills.top .col:nth-child(2) .skills_table.right {
border-radius: 0px 80px 0px 10px;
}

.row_skills.bottom .col:nth-child(1) .skills_table.left{
border-radius: 0px 10px 0px 80px;
}

.row_skills.bottom .col:nth-child(2) .skills_table.right {
border-radius: 10px 0px 80px 0px;
}

.skills_table {
width: 100%;
background-color: rgb(255 255 255 / 3%);
border-radius: 5%;
padding-top: 25px;
padding-bottom: 25px;
}

.list_item {
margin: 10px;
display: flex;
gap: 10px;
flex-flow: row wrap;
padding: 0;
justify-content: center;
align-items: center;
}

@media only screen and (max-width: 767px) {
.container_skills {
  gap: 0;
}

.row_skills {
  display: block;
}

.skills_table {
  margin-bottom: 20px;
}

.row_skills.top .col:nth-child(1) .skills_table.left{
  border-radius: 0px;
}

.row_skills.top .col:nth-child(2) .skills_table.right {
  border-radius: 0px;
}

.row_skills.bottom .col:nth-child(1) .skills_table.left{
  border-radius: 0px;
}

.row_skills.bottom .col:nth-child(2) .skills_table.right {
  border-radius: 0px;
}
}

@media only screen and (max-width: 430px)  {


  .skill-content {
    padding: 60px 0px;
  }
  
  .nav-item {
      width: 25%;
  }

}

@media only screen and (max-width: 330px)  {
  
  .nav-item {
      width: 24%;
  }

  .skill-content .nav.nav-pills .nav-link {
    height: 78px;
    display: flex;
    align-items: center;
  }

}