.item {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 3px 10px;
  background-color: #313131;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
  text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f, 1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
}

.item h5 {
  font-size: 1rem;
  margin: 0;
}