.skill {
    padding: 10vh 0 10vh 0;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.skill-content {
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: 60px;
    width: 100%;
  }
  
.skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  
.skill p {
      color: #B8B8B8;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
      margin: 14px 0 75px 0;
  }
.nav-item {
    width: 24%;
  }

.tab-content {
  margin-bottom: 20px;
}

.skill-content .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
    background-color: rgb(255 255 255 / 10%);
  }
.skill-content .nav.nav-pills .nav-link::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
  }
.skill-content .nav.nav-pills .nav-link.active::before {
      width: 100% !important;
  }
  
.skill-content .nav.nav-pills .nav-link.active {
      border: 1px solid rgba(255, 255, 255, 1);
      border-radius: 10%;
  }

.nav-link#skills-tabs-tab-front {
    border-radius: 55px 0px 0px 55px;
  }
  
.nav-link#skills-tabs-tab-outros {
    border-radius: 0 55px 55px 0;
  }

@media only screen and (max-width: 430px)  {

  
    .skill-content {
      padding: 60px 0px;
    }
    
    .nav-item {
        width: 25%;
    }
  
  }
  
  @media only screen and (max-width: 330px)  {
    
    .nav-item {
        width: 24%;
    }
  
    .skill-content .nav.nav-pills .nav-link {
      height: 78px;
      display: flex;
      align-items: center;
    }
  
  }